/* ========= CUSTOM VARIABLES ========= */
:root {
  /* === Fonts === */
  --primary-font-family: "Roboto", sans-serif;
  --big-heading-font-family: "Lato", sans-serif;

  /* === Colors === */
  --primary-background-color: #f1f1e8;
  --secondary-background-color: #206a5d;
  --primary-color: #303030;
  --secondary-color: #64b157;
}

/* ========= GENERAL ========= */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font-family);
  font-size: 16px;
  background-color: var(--primary-background-color);
}

img {
  max-width: 100%;
}

a:link,
a:visited {
  color: var(--primary-background-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17.33px;
}

.btn {
  padding: 10px 40px;
  font-size: 1.5rem;
  /* width: 200px; */
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  color: var(--primary-background-color);
  text-transform: capitalize;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.section-title {
  font-family: var(--big-heading-font-family);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 5px;
  letter-spacing: 0.05rem;
  margin-bottom: 40px;
}

.section-title::after {
  content: "";
  width: 6%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: var(--secondary-background-color);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.insta,
.fb,
.tw {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

/* ========= HEADER ========= */
header {
  background: linear-gradient(rgba(47, 50, 76, 0.95), rgba(47, 50, 76, 0.95)),
    url(/img/header-background-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.empty {
  height: 50px;
}

.logo-nav {
  display: flex;
  align-items: center;
  padding: 0 7% 45px;
}

.sticky {
  background-color: var(--secondary-background-color);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 7%;
  z-index: 999;
}

.sticky + body {
  padding-top: 100px;
}

.logo {
  margin-right: auto;
}

.main-nav .nav-link {
  border: 2px solid transparent;
  margin-left: 40px;
  padding-bottom: 3px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.main-nav .nav-link:hover {
  border-bottom: 2px solid var(--secondary-color);
}

.main-nav .nav-link:last-child {
  border: 2px solid var(--secondary-color);
  border-radius: 15px;
  padding: 7px 10px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.main-nav .nav-link:last-child:hover {
  background-color: var(--secondary-color);
}

.heading {
  margin: 153px 10% 0;
  text-align: center;
  color: var(--primary-background-color);
}

.main-title {
  font-family: var(--big-heading-font-family);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.8px;
  line-height: 1.2;
  padding-bottom: 20px;
}

.sub-title {
  text-transform: capitalize;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 100;
  padding-bottom: 50px;
}

.btn-more-info:hover {
  border: 1px solid var(--primary-background-color);
  background-color: transparent;
  color: var(--secondary-color);
}

/* ========= FEATURES ========= */
.section-features {
  padding: 60px 10%;
}

.feature {
  width: 28%;
  margin: 20px 0;
  text-align: center;
}

.feature-icon {
  color: var(--secondary-color);
  font-size: 3rem;
}

.feature-name {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 0;
}

.feature-info {
  font-weight: 300;
  line-height: 1.2;
}

/* ========= PROGRAMS ========= */
.section-programs {
  padding: 60px 2%;
  background-color: var(--secondary-color);
  color: var(--primary-background-color);
}

.program {
  width: 20%;
}

.program-img {
  height: 167px;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 10px;
}

.program-name {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.program-info {
  padding-bottom: 2px;
  font-weight: 300;
}

.learn-more,
.learn-more a {
  color: var(--secondary-background-color);
}

.learn-more a {
  border-bottom: 1px solid transparent;
  font-size: 0.8rem;
  font-weight: 400;
  padding-bottom: 1px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.learn-more a:hover {
  border-bottom: 1px solid var(--secondary-background-color);
}

.learn-more i {
  font-size: 0.8rem;
}

/* ========= TEAM ========= */
.section-team {
  padding: 60px 10%;
}

.section-team .wrapper {
  align-items: flex-start;
}

.team-member {
  width: 20%;
}

.member-img {
  height: auto;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 10px;
}

.member-name {
  font-weight: 400;
  padding-bottom: 5px;
}

.member-info {
  font-size: 0.95rem;
  font-weight: 300;
  padding-bottom: 5px;
}

.social {
  display: flex;
  flex-flow: row no-wrap;
  color: var(--primary-color);
}

.social a {
  color: var(--primary-color);
  margin-right: 10px;
}

.social .insta:hover,
.social-media-links .insta:hover {
  color: #833ab4;
}

.social .fb:hover,
.social-media-links .fb:hover {
  color: #4267b2;
}

.social .tw:hover,
.social-media-links .tw:hover {
  color: #1da1f2;
}

/* ========= TESTIMONIES ========= */
.section-testimonials {
  padding: 60px 2%;
  background-color: var(--secondary-color);
  color: var(--primary-background-color);
}
/* === slideshow container === */
.testimonial-container {
  max-width: 90%;
  position: relative;
  margin: auto;
}

.testimonial-img {
  width: 60%;
  margin: 0 20%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 0 10px var(--secondary-background-color);
}

.testimonial .testimony {
  font-size: 1.5rem;
  font-weight: 100;
  width: 50%;
  margin: auto 25%;
  background-color: rgba(255, 255, 255, 0.8);
  font-style: italic;
  padding: 25px;
  color: var(--primary-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.dots {
  width: 10%;
  margin: auto;
  padding-top: 10px;
}

/* === Hide images by default === */
.testimonial {
  display: none;
}

/* === Next & prev buttons === */
.btn-next,
.btn-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--primary-background-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* === Position the next button to the right === */
.btn-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* === On hover, add a black background color with a little bit see-through === */
.btn-prev:hover,
.btn-next:hover {
  background-color: var(--secondary-background-color);
}

/* Testimony text */
.testimony {
  color: var(--primary-background-color);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

/* === Dots/indicators === */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--primary-background-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--secondary-background-color);
}

/* === Fading animation === */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* ========= SIGN UP ========= */
.section-sign-up {
  padding: 60px 5%;
  text-align: center;
}

.sign-up {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.section-sign-up .btn-sign-up {
  margin-top: 60px;
  /* width: 20%; */
  font-size: 2rem;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  text-transform: uppercase;
}

.section-sign-up .btn-sign-up:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-background-color);
  background-color: var(--secondary-background-color);
}

/* ========= FOOTER ========= */
footer {
  background-color: var(--secondary-background-color);
  color: var(--primary-background-color);
  margin-top: 40px;
  padding: 30px 10% 10px;
  position: relative;
}

.contact-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-info .footer-title {
  margin-bottom: 20px;
  padding-bottom: 2px;
  position: relative;
}

.contact-info .footer-title::after {
  content: "";
  width: 30%;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  top: 100%;
  left: 15%;
  background-color: var(--secondary-color);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
/* === Footer navigation & Location === */
.footer-nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-nav .nav-title {
  text-transform: uppercase;
}

.footer-nav .nav-link {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.footer-nav .nav-link:hover {
  color: var(--secondary-color);
}

.street,
.city,
.state,
.footer-nav .nav-link {
  text-transform: capitalize;
  font-weight: 100;
  line-height: 1.2;
  font-size: 1rem;
}

/* === Social Media === */
.media-link {
  padding-right: 10px;
}

/* === Contact === */
.contact-form input,
.contact-form textarea {
  margin: 4px 0;
  line-height: 1.2;
  padding: 2px;
}

.contact-form textarea {
  height: 4rem;
}

.contact-form input[type="submit"] {
  font-size: 0.9rem;
  padding: 2px;
  cursor: pointer;
}

/* === Back to top button === */
.back-to-top {
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  color: var(--primary-background-color);
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
}

.back-to-top i {
  font-size: 2.5rem;
  color: var(--secondary-color);
  padding-bottom: 4px;
}

/* === Copyright Info === */
.copyrights {
  width: 100%;
}

.copyright-info {
  width: 100%;
  margin: 30px auto 0;
  text-align: center;
  font-weight: 100;
}

.dev-name {
  font-weight: 400;
}

/* ========= MEDIA QUERIES ========= */
/* === Small screens === */
@media only screen and (min-width: 992px) {
}

/* === Tablets === */
@media only screen and (min-width: 688px) {
}

/* === Phones === */
@media only screen and (max-width: 687.98px) {
  /* ========= GENERAL ========= */
  html {
    scroll-behavior: smooth;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--primary-font-family);
    font-size: 16px;
    background-color: var(--primary-background-color);
  }

  img {
    max-width: 100%;
  }

  a:link,
  a:visited {
    color: var(--primary-background-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17.33px;
  }

  .btn {
    padding: 10px 40px;
    font-size: 1.5rem;
    /* width: 200px; */
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    color: var(--primary-background-color);
    text-transform: capitalize;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
  }

  .section-title {
    font-family: var(--big-heading-font-family);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 5px;
    letter-spacing: 0.05rem;
    margin-bottom: 40px;
  }

  .section-title::after {
    content: "";
    width: 6%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: var(--secondary-background-color);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }

  .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  .insta,
  .fb,
  .tw {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
  }

  /* ========= HEADER ========= */
  header {
    background: linear-gradient(rgba(47, 50, 76, 0.95), rgba(47, 50, 76, 0.95)),
      url(/img/header-background-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .empty {
    height: 50px;
  }

  .logo-nav {
    display: flex;
    align-items: center;
    padding: 0 7% 45px;
  }

  .sticky {
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 7%;
    z-index: 999;
  }

  .sticky + body {
    padding-top: 100px;
  }

  .logo {
    margin-right: auto;
  }

  .main-nav .nav-link {
    border: 2px solid transparent;
    margin-left: 40px;
    padding-bottom: 3px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
  }

  .main-nav .nav-link:hover {
    border-bottom: 2px solid var(--secondary-color);
  }

  .main-nav .nav-link:last-child {
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    padding: 7px 10px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }

  .main-nav .nav-link:last-child:hover {
    background-color: var(--secondary-color);
  }

  .heading {
    margin: 153px 10% 0;
    text-align: center;
    color: var(--primary-background-color);
  }

  .main-title {
    font-family: var(--big-heading-font-family);
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.8px;
    line-height: 1.2;
    padding-bottom: 20px;
  }

  .sub-title {
    text-transform: capitalize;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 100;
    padding-bottom: 50px;
  }

  .btn-more-info:hover {
    border: 1px solid var(--primary-background-color);
    background-color: transparent;
    color: var(--secondary-color);
  }

  /* ========= FEATURES ========= */
  .section-features {
    padding: 60px 10%;
  }

  .feature {
    width: 28%;
    margin: 20px 0;
    text-align: center;
  }

  .feature-icon {
    color: var(--secondary-color);
    font-size: 3rem;
  }

  .feature-name {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 0;
  }

  .feature-info {
    font-weight: 300;
    line-height: 1.2;
  }

  /* ========= PROGRAMS ========= */
  .section-programs {
    padding: 60px 2%;
    background-color: var(--secondary-color);
    color: var(--primary-background-color);
  }

  .program {
    width: 20%;
  }

  .program-img {
    height: 167px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 10px;
  }

  .program-name {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  .program-info {
    padding-bottom: 2px;
    font-weight: 300;
  }

  .learn-more,
  .learn-more a {
    color: var(--secondary-background-color);
  }

  .learn-more a {
    border-bottom: 1px solid transparent;
    font-size: 0.8rem;
    font-weight: 400;
    padding-bottom: 1px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
  }

  .learn-more a:hover {
    border-bottom: 1px solid var(--secondary-background-color);
  }

  .learn-more i {
    font-size: 0.8rem;
  }

  /* ========= TEAM ========= */
  .section-team {
    padding: 60px 10%;
  }

  .section-team .wrapper {
    align-items: flex-start;
  }

  .team-member {
    width: 20%;
  }

  .member-img {
    height: auto;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 10px;
  }

  .member-name {
    font-weight: 400;
    padding-bottom: 5px;
  }

  .member-info {
    font-size: 0.95rem;
    font-weight: 300;
    padding-bottom: 5px;
  }

  .social {
    display: flex;
    flex-flow: row no-wrap;
    color: var(--primary-color);
  }

  .social a {
    color: var(--primary-color);
    margin-right: 10px;
  }

  .social .insta:hover,
  .social-media-links .insta:hover {
    color: #833ab4;
  }

  .social .fb:hover,
  .social-media-links .fb:hover {
    color: #4267b2;
  }

  .social .tw:hover,
  .social-media-links .tw:hover {
    color: #1da1f2;
  }

  /* ========= TESTIMONIES ========= */
  .section-testimonials {
    padding: 60px 2%;
    background-color: var(--secondary-color);
    color: var(--primary-background-color);
  }
  /* === slideshow container === */
  .testimonial-container {
    max-width: 90%;
    position: relative;
    margin: auto;
  }

  .testimonial-img {
    width: 60%;
    margin: 0 20%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 0 10px var(--secondary-background-color);
  }

  .testimonial .testimony {
    font-size: 1.5rem;
    font-weight: 100;
    width: 50%;
    margin: auto 25%;
    background-color: rgba(255, 255, 255, 0.8);
    font-style: italic;
    padding: 25px;
    color: var(--primary-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .dots {
    width: 10%;
    margin: auto;
    padding-top: 10px;
  }

  /* === Hide images by default === */
  .testimonial {
    display: none;
  }

  /* === Next & prev buttons === */
  .btn-next,
  .btn-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--primary-background-color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* === Position the next button to the right === */
  .btn-next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* === On hover, add a black background color with a little bit see-through === */
  .btn-prev:hover,
  .btn-next:hover {
    background-color: var(--secondary-background-color);
  }

  /* Testimony text */
  .testimony {
    color: var(--primary-background-color);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
  }

  /* === Dots/indicators === */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--primary-background-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: var(--secondary-background-color);
  }

  /* === Fading animation === */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  /* ========= SIGN UP ========= */
  .section-sign-up {
    padding: 60px 5%;
    text-align: center;
  }

  .sign-up {
    font-size: 1.5rem;
    text-transform: capitalize;
  }

  .section-sign-up .btn-sign-up {
    margin-top: 60px;
    /* width: 20%; */
    font-size: 2rem;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    text-transform: uppercase;
  }

  .section-sign-up .btn-sign-up:hover {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-background-color);
    background-color: var(--secondary-background-color);
  }

  /* ========= FOOTER ========= */
  footer {
    background-color: var(--secondary-background-color);
    color: var(--primary-background-color);
    margin-top: 40px;
    padding: 30px 10% 10px;
    position: relative;
  }

  .contact-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-info .footer-title {
    margin-bottom: 20px;
    padding-bottom: 2px;
    position: relative;
  }

  .contact-info .footer-title::after {
    content: "";
    width: 30%;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    top: 100%;
    left: 15%;
    background-color: var(--secondary-color);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }
  /* === Footer navigation & Location === */
  .footer-nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-nav .nav-title {
    text-transform: uppercase;
  }

  .footer-nav .nav-link {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
  }

  .footer-nav .nav-link:hover {
    color: var(--secondary-color);
  }

  .street,
  .city,
  .state,
  .footer-nav .nav-link {
    text-transform: capitalize;
    font-weight: 100;
    line-height: 1.2;
    font-size: 1rem;
  }

  /* === Social Media === */
  .media-link {
    padding-right: 10px;
  }

  /* === Contact === */
  .contact-form input,
  .contact-form textarea {
    margin: 4px 0;
    line-height: 1.2;
    padding: 2px;
  }

  .contact-form textarea {
    height: 4rem;
  }

  .contact-form input[type="submit"] {
    font-size: 0.9rem;
    padding: 2px;
    cursor: pointer;
  }

  /* === Back to top button === */
  .back-to-top {
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    color: var(--primary-background-color);
    position: fixed;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
  }

  .back-to-top i {
    font-size: 2.5rem;
    color: var(--secondary-color);
    padding-bottom: 4px;
  }

  /* === Copyright Info === */
  .copyrights {
    width: 100%;
  }

  .copyright-info {
    width: 100%;
    margin: 30px auto 0;
    text-align: center;
    font-weight: 100;
  }

  .dev-name {
    font-weight: 400;
  }
}
