/* ========= CUSTOM VARIABLES ========= */
:root {
  /* === Fonts === */
  --primary-font-family: 'Roboto', sans-serif;
  --big-heading-font-family: 'Lato', sans-serif;

  /* === Fonts === */
  --primary-background-color: #f1f1e8;
  --secondary-background-color: #206a5d;
  --primary-color: #303030;
  --secondary-color: #64b157;
}

/* ========= GENERAL ========= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font-family);
  font-size: 16px;
  background-color: var(--primary-background-color);
}

img {
  max-width: 100%;
}

a:link,
a:visited {
  color: var(--primary-background-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17.33px;
}

.section-title {
  font-family: var(--big-heading-font-family);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 5px;
  letter-spacing: 0.05rem;
  margin-bottom: 40px;
}

.section-title::after {
  content: '';
  width: 6%;
  height: 4px;
  border-bottom: 4px;
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: var(--secondary-background-color);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

/* ========= HEADER ========= */
header {
  background: linear-gradient(rgba(47, 50, 76, 0.95), rgba(47, 50, 76, 0.95)),
    url(/img/header-background-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.logo-nav {
  display: flex;
  align-items: center;
  /* background-color: rgba(191, 220, 174, 0.3); */
  padding: 45px 7%;
}

.logo {
  margin-right: auto;
}

.nav-link {
  border: 2px solid transparent;
  margin-left: 40px;
  padding-bottom: 3px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.nav-link:hover {
  border-bottom: 2px solid var(--secondary-color);
}

.nav-link:last-child {
  border: 2px solid var(--secondary-color);
  border-radius: 15px;
  padding: 7px 10px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.nav-link:last-child:hover {
  background-color: var(--secondary-color);
}

.heading {
  margin: 153px 10% 0;
  text-align: center;
  color: var(--primary-background-color);
}

.main-title {
  font-family: var(--big-heading-font-family);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.8px;
  line-height: 1.2;
  padding-bottom: 20px;
}

.sub-title {
  text-transform: capitalize;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 100;
  /* font-style: italic; */
  padding-bottom: 50px;
}

.btn {
  padding: 10px 20px;
  font-size: 1.5rem;
  width: 200px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  color: var(--primary-background-color);
  text-transform: capitalize;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.btn-more-info:hover {
  border: 1px solid var(--primary-background-color);
  background-color: transparent;
  color: var(--secondary-color);
}

/* ========= FEATURES ========= */
.section-features {
  padding: 60px 10% 60px;
}

.features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.feature {
  width: 28%;
  margin: 20px 0;
  text-align: center;
}

.feature-icon {
  color: var(--secondary-color);
  font-size: 3rem;
}

.feature-name {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 0;
}

.feature-info {
  font-weight: 300;
  line-height: 1.2;
}

/* ========= PROGRAMS ========= */
.section-programs {
  padding: 60px 5% 60px;
  background-color: var(--secondary-color);
  color: var(--primary-background-color);
}

.training-programs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.program {
  width: 20%;
}

.program-img {
  height: 165px;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 10px;
}

.program-name {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.program-info {
  padding-bottom: 2px;
  font-weight: 300;
}

.learn-more,
.learn-more a {
  color: var(--secondary-background-color);
}

.learn-more a {
  border-bottom: 1px solid transparent;
  font-size: 0.8rem;
  font-weight: 400;
  padding-bottom: 1px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.learn-more a:hover {
  border-bottom: 1px solid var(--secondary-background-color);
}

.learn-more i {
  font-size: 0.8rem;
}
