/* ========= CUSTOM VARIABLES ========= */
:root {
  /* === Fonts === */
  --primary-font-family: "Roboto", sans-serif;
  --big-heading-font-family: "Lato", sans-serif;

  /* === Colors === */
  --primary-background-color: #f1f1e8;
  --secondary-background-color: #206a5d;
  --primary-color: #303030;
  --secondary-color: #64b157;
}

/* ========= GENERAL ========= */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font-family);
  font-size: 16px;
  background-color: var(--primary-background-color);
}

img {
  max-width: 100%;
}

a:link,
a:visited {
  color: var(--primary-background-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}

/* ========= HEADER ========= */
header {
  background: linear-gradient(rgba(47, 50, 76, 0.95), rgba(47, 50, 76, 0.95)),
    url(/img/header-background-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}

.empty {
  display: none;
}

.logo-nav {
  background-color: var(--secondary-background-color);
  padding: 6px 15px;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo-nav,
.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav {
  display: none;
  margin-left: 0;
}

.logo {
  padding-top: 2.5px;
}

.hamburger-menu {
  align-self: flex-end;
  display: initial;
  position: absolute;
  cursor: pointer;
  font-size: 32px;
  color: var(--primary-background-color);
  transition: all 0.2s;
}

.hamburger-menu:hover {
  color: var(--secondary-color);
}
