/* ========= CUSTOM VARIABLES ========= */
:root {
  /* === Fonts === */
  --primary-font-family: 'Roboto', sans-serif;
  --big-heading-font-family: 'Lato', sans-serif;

  /* === Fonts === */
  --primary-background-color: ;
  --secondary-background-color: ;
  --primary-color: #303030;
  --secondary-color: #64b157;
}

/* ========= GENERAL ========= */
* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font-family);
  font-size: 16px;
  margin: 0;
  padding: 0;
}
