/* ========= CUSTOM VARIABLES ========= */
:root {
  /* === Fonts === */
  --primary-font-family: "Roboto", sans-serif;
  --big-heading-font-family: "Lato", sans-serif;

  /* === Colors === */
  --primary-background-color: #f1f1e8;
  --secondary-background-color: #206a5d;
  --primary-color: #303030;
  --secondary-color: #64b157;
}

/* ========= GENERAL ========= */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font-family);
  font-size: 16px;
  background-color: var(--primary-background-color);
}

img {
  max-width: 100%;
}

a:link,
a:visited {
  color: var(--primary-background-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--primary-background-color);
  cursor: pointer;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  text-transform: capitalize;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.section-title {
  font-family: var(--big-heading-font-family);
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.0625rem;
  letter-spacing: 0.02rem;
  margin-bottom: 0.5rem;
}

.section-title::after {
  content: "";
  width: 10%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: var(--secondary-background-color);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

/* ========= HEADER ========= */
header {
  background: linear-gradient(rgba(47, 50, 76, 0.85), rgba(47, 50, 76, 0.85)),
    url(/img/header-background-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}

.empty {
  display: none;
}

/* === Logo & nav === */
.logo-nav {
  background-color: var(--secondary-background-color);
  padding: 6px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo-nav,
.main-nav {
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 2.5px 15px 0 5px;
}

.main-nav {
  display: none;
  margin-left: 0;
  height: 100vh;
  padding-top: 5vh;
}

.main-nav .nav-link {
  padding: 3vh 0 3vh;
  text-align: center;
  width: 100%;
}

.main-nav .nav-link:last-child {
  background-color: var(--secondary-color);
}

.hamburger-menu {
  align-self: flex-end;
  display: initial;
  position: absolute;
  cursor: pointer;
  font-size: 32px;
  color: var(--primary-background-color);
  padding-right: 10px;
}

.main-nav-toggle-show {
  display: flex;
  align-items: center;
}

/* === Heading === */
.heading {
  margin: 0 10%;
  text-align: center;
  color: var(--primary-background-color);
  padding-top: 10vh;
}

.main-title {
  font-family: var(--big-heading-font-family);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1.3;
  padding-bottom: 2vh;
}

.sub-title {
  text-transform: capitalize;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 100;
  padding-bottom: 3vh;
}

/* ========= FEATURES ========= */
.section-features {
  padding: 4vh 2%;
}

.feature {
  width: 90%;
  margin: 1rem 0;
  text-align: center;
}

.feature-icon {
  color: var(--secondary-color);
  font-size: 2rem;
}

.feature-name {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.625rem 0;
}

.feature-info {
  font-weight: 300;
  line-height: 1.2;
}
